*{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
body{
	font-size:1em;
	background-image: url("../images/tlo.jpg");
	font-family: 'Arimo', sans-serif;
	line-height:1.2;
}
#wrap, #rankingi{
	overflow: auto;
}
#tytul{
	width:100%;
	color:#8C002A;
	
	text-align:center;
	font-size:1.5em;
	
}
.efekt, .info, h1, nav a, p#tytul, .ranking, form, #artysci h2{
	font-family:'Amatic SC', cursive;
}
.navfoto{
	display:none;
}

nav{
	width:100%;
	background-image:url("../images/navfoto.jpg");
	background-size:cover;
}
nav ul{
width:100%;

}
nav ul li{
	width:100%;
}



a{
	text-decoration:none;
}
nav{
	margin-top:1px;
}
nav ul li a{	
	display:block;
	padding:30px;
	text-align:center;
	color:white;
	font-size:1.5em;
	
}
nav ul li a:hover{
		font-size:1.6em;
		text-shadow:1px 0px 19px rgba(54, 56, 0, 1);
		background-color:rgba(227, 227, 227,0.2)
	}

	nav ul li a:active{
		font-size:1.6em;
		text-shadow:1px 0px 19px rgba(162, 111, 40, 1);
	}

#wrap{
	width:100%;
	padding:0px 4px;
	background: #fefbd0;
}

h1{
	font-size:2.5em;
	color:#92002C;
	width:100%;
	text-align:center;
	padding:20px;
}
.back{
	padding:15px;
	border: dotted 2px #775c6a;
	background-color:white;
	border-radius:15px;
	display:block;
	margin:0 auto;
	
	
}

#blog, #rankingi, #artysci, .rwrap{
	overflow: auto;
}

.wpis, .ranking{
	padding:1%;
}

.ranking{
	padding:1%;
}

p.t{
	text-align: center;
	font-size: 1em;
}
.rankingform{
	clear:both;
}
.rankingform h2{
	font-size:1.5em;
	color: #8C002A;
	
}

hr {
  height: 10px;
  border: 0;
  box-shadow: 0 10px 10px -10px #8c8c8c inset;
}

 .wpis p{
	 font-size:0.9em;
	 
 }
 .wpis p.data, .post .date, .comment .date {
	 font-size: 0.7em;
	 padding:0;
 }
.wpis a{
	color:#775c6a;
}

.wpis a:hover, .ranking h2{
	color:#8eb9a8;
}

#artysci img{
	width:100%;
	padding:2%;
	text-align:center;
}

#artysci h2{
	font-size:1.5em;
	color:#f4828c;
	text-align: center;
}

#artysci p{
	font-size:0.9em;
	padding:2%;
	background-color:white;
}


.ranking h2{
	font-size: 1.7em;
}
.ranking p{
	font-size:1.4em;
}




.efekt{
	font-size:1.5em;
	color:#92002C;
}
.part{
	width:100%;
	padding:10px 0px;
	
}

form{
	padding:20px;
	text-align:center;
	
}

form p{
	padding:1%;
	font-size:1.4em;
}

form textarea{
	width:100%;
	padding:1%;
}

button{
	background-color:#92002C;
	color:white;
	font-family: 'Inder', sans-serif;
	padding:6px;
	margin:4px;
}
.moja{
	background-color:#F4004A;
	border-radius: 40px 0px;
	padding:9px 9px;
	overflow:auto;
	border:2px dotted white;
}
#kontakt img.part{
	width:auto;
	border-radius: 40px 0px;
	display:block;
	margin:0px auto;
	border:2px dotted white;
	padding:0px;
}

.info{
	padding:15px;
	padding-bottom:0px;
	padding-right:0px;
	font-size:1.8em;
	text-align:center;
	display:block;
	margin:0px auto;
}

#kontakt ul{
	padding:10px;
}
#kontakt ul li{
	padding:5px 0px;
	}

#kontakt ul li a{
	color:#92002C;
	
	
}

#kontakt ul li a:hover{
	color:#BAA8AD;
}
#kontakt ul li a:active{
	color:white;
}

	 a.wgore{
		border-radius:50%;
		width:100px;
		height:100px;
		display:block;
		margin:30px auto;
		padding:40px 0px 0px 15px;
		color:#F4004A;
		background-color:#92002C;
	}
	a:hover.wgore{
		color:white;
		text-shadow:1px 0px 19px rgba(54, 56, 0, 1);
				
	}
	a:active.wgore{
		color:white;
		text-shadow:1px 0px 19px rgba(162, 111, 40, 1);
	}
	
	footer p{
		background-color:#92002C;
		border-radius:15px 15px 0px 0px;
		padding:5px;
		margin-top:10px;
		color:white;
		font-size:0.7em;
		text-align:center;
	}
	.buttony{
		overflow:auto;
	}
	a.admin, a.adminYES, a.user, a.adminNO{
		display:block;
		width:100px;
		text-align:center;
		padding:15px;
		margin:1%;
		background-color:#e64b55;
		color:white;
	}
	a.admin:hover, a.adminYES:hover, a.user:hover, a.adminNO:hover{
		background-color: #8eb9a8;
		
	}
	a.user{
		
		background-color:#f4828c;
		
	}
	
	a.adminYES{
		float:left;
		background-color:#869f1f;
		
	}
	
	a.adminNO{
		float:left;
		background-color: #ac1406;
	}
	
	.alert{
		color:red;
		font-size:1.2em;
		text-align: center;
	}
	
	.post{
		width:100%;
		padding:1%;
	}
	
	.comment{
		background-color: #8eb9a8;
		padding:1%;
		margin-bottom:1%;
	}
	
	.comment .autor{
		font-size:0.9em;
		color: #775c6a;
			}
			
	.comment .com{
		font-style:italic;
		padding-left:2%;
	}
@media screen and (min-width:800px){
	
	#tytul{
		position: absolute;
		top:20%;
		left:50%;
		margin:auto;
		margin-left:-50%;
		font-size:3em;
		color:white;
		text-shadow: 0px 0px 6px rgba(0, 0, 0, 1);
		
	}
	.navfoto{
	display:block;
	width:100%;

}
	nav{
		width:80%;
		margin: 0 10%;
		margin-right:2%;
		background-image:none;
		overflow: auto;
	}
	nav ul li a{
		float:left;
		width:25%;
		padding:16px;
		font-size:1.3em;
		background-color:#f4828c;
		border-bottom: 1px solid #E3E3E3;
		border-right: 1px solid white;
	}
	
	nav ul li a:hover{
		font-size:1.3em;
		background-color: #775c6a;
	
	}

	nav ul li a:active{
		font-size:1.3em;
		background-color: #8eb9a8;
	}
	#wrap{
		
		width:70%;
		margin:0% 15%;
	}
	
	.wpis, .ranking, .artysta{
		display:block;
		float:left;
		width:32.3333%;
		margin:0.5%;
	}

	.part{
		float:left;
		width:50%;
	}
	
	.moja{
		width:670px;
		display:block;
		margin:0 auto;
	}
	
}