{% extends 'blog/base.html' %}
{% load staticfiles %}
	{% block content %}
		<div id="blog">
			<h1>Moje wpisy na blogu...</h1>
			{% for post in posts %}
			<div>
				<p>opublikowano: {{ post.published_date }}</p>
				<h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
				<p>{{ post.text|linebreaks }}</p>
			</div>
		</div><!--koniec sekcji blog-->
		{% endfor %}
		<div id="artysci">
			<h1>Moi ulubieni muzycy</h1>
				{% for artist in artists %}
				<div>
					<p>{{artist.artist_name }}</p>
					<img src="{{static}} {{artist.add_photo}}">
				</div>
				{% endfor %}
		</div><!-- koniec sekcji artysci -->
		<div id="ksiega">
			<h1>Księga gości</h1>
				<div class="back">
				<p>Jesteś fanem muzyki? Masz jakieś uwagi do strony? Napisz do mnie!</p>
				<form>
					<textarea name="wpis"></textarea>
					<p>Twoja nazwa:</p>
					<input type="text" name="nazwa"><br>
					<button type="button">Wyślij!</button>
				<form>
				</div>
		</div><!-- koniec sekcji ksiega-->
		<div id="kontakt">
			<h1>Kontakt</h1>
			<div class="moja">
			<img class="part" src="{% static 'images/gosia.jpg' %}" alt="zdjęcie">
			<div class="part efekt info">
			<p>Autorka bloga:Małgorzata Olak</p>
			<p>Znajdź mnie:<p>
			<ul>
				<li><a href="http://facebook.com"><i class="fa fa-facebook fa-lg"></i></a></li>
            <li><a href="http://twitter.com"><i class="fa fa-twitter fa-lg"></i></a></li>
            <li><a href="http://pinterest.com"><i class="fa fa-pinterest fa-lg"></i></a></li>
            <li><a href="http://lastfm.com"><i class="fa fa-lastfm fa-lg"></i></a></li>
			</ul>
			</div>
			</div>
		</div><!-- koniec sekcji kontakt-->
		
	{% endblock %}
		

		